[submodule "lib/crsf"]
	path = lib/crsf
	url = https://github.com/shashankmarch27/crsf.git
[submodule "lib/Esc"]
	path = lib/Esc
	url = https://github.com/shashankmarch27/Esc.git
[submodule "lib/sbus"]
	path = lib/sbus
	url = https://github.com/shashankmarch27/sbus.git
